/* to make this site mobile friendly we have used media queries,this is very important*/


body{
  font-family: "Montserrat";
}


h1{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
font-family: "Montserrat-Bold";
font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}


 #title{                         /* assigning bg color to the title section */
  background-color: #ff4c68;
   color: #fff;  /*heading color set to white */
}

.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}


.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


 .container-fluid{
  padding: 3% 15% 7%;      /*centering the content in page,7% is bottom padding*/
}



.navbar-brand{
  font-family: "Ubuntu";    /*logo font set to ubuntu*/
  font-size: 2.5rem;
  font-weight: bold;
}





/*--download buttons*/
.download-button{
  margin: 5% 3% 5% 0;
}

/*title image*/
.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;        /* this makes the image below the title section.*/
  right: 30%    /*right margin */
}


/*Features*/

#features{
  padding: 7% 15%;
  background-color:#fff;
  position: relative;      /*this makes the title image hidden behind features section according to stack property*/

}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}


/* testimonials section */

#testimonials{

    text-align: center;
    background-color: #ef8172;
    color: #fff;  /*text color white*/
}

.testimonial-class{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%    /*gives padding to the section*/
}


.press-logo{
width: 15%;
margin: 20px 20px 50px;
}


/* pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}



/*CTA section*/

#cta{
  background-color: #ff4c68;
   color: #fff;  /*heading color set to white */
   text-align: center;
   padding: 7% 15%;
}


/* Footer section */

#footer{
padding: 7% 15%;
text-align: center;

}
.social-icon{
  margin:20px 10px;

}
.social-icon:hover{
  transform: scale(2.5);
  color:#ff4c68;
}



/*max width means that below the max width,we are changing certain rules*/
@media (max-width:1028px){
  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);    /*make the picture static and straight for mobile devices*/

  }

}
